input.chk{ 
            width: 20px; 
            height: 20px;
            background-color: #000;			
        }
input.largerCheckbox { 
            width: 20px; 
            height: 20px;
            background-color: #000;			
} 		